.form-container {
  display: flex;
  height: 80vh;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
}

.field-container {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-top: 20px;
}

label {
  font-size: 20px;
}

.input {
  font-size: 16px;
  padding: 2px;
  margin-top: 3px;
  border: 1px solid grey;
  border-radius: 3px;
}

.submit-btn {
  width: 300px;
  margin-top: 20px;
  border: none;
  background-color: var(--primary-background-color);
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  padding: 7px 0;
}
